
.card {
  width: 300px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}
.error{
  color: red;
}
.card-img-top {
  height: 212px;
  width: 100%;
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
}

.card-text {
  font-size: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-icons {
  margin-bottom: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.card-icons i {
  font-size: 24px;
  color: #333;
}
body {
  background-color: #f0f8ff;
}

.navbar {
  background-color: #87CEEB;
}

.navbar-light .navbar-nav .nav-link {
  color: #333; /* Màu đen cho các liên kết trong navbar */
}

.container {
  background-color: #fff; /* Màu trắng cho nền nội dung */
  padding: 20px;
  border-radius: 10px; /* Bo góc nền nội dung */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng cho nền nội dung */
  height: 0px;
}

footer {
  background-color: #87CEEB; /* Màu xanh nhạt cho footer */
  color: white; /* Màu trắng cho văn bản trong footer */
  text-align: center;
  padding: 30px 0;
  bottom: 0;
  margin-top:100px ;
  width: 100%;
  height: 100px;
}

/* Tùy chỉnh kiểu chữ cho tiêu đề */
.navbar-brand {
  font-family: 'Pacifico', cursive; /* Sử dụng font lộng lẫy 'Pacifico' */
  font-size: 36px;
  font-weight: bold;
  color: #333;
}


h1 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #333;
}
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
.create-product{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}
.edit-product{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}
.body{
  margin-top: 2%;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  min-height: 400px;
}

.pagination-buttons {
  text-align: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
