<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Configuration</title>
</head>
<body>
<h1>Email Configuration</h1>
<form th:action="@{/config/post}" th:object="${config}" method="post">
    <div>
        <h3>Language:</h3>
        <select th:field="*{language}">
            <option value="English">English</option>
            <option value="Vietnamese">Vietnamese</option>
            <option value="Japanese">Japanese</option>
            <option value="Chinese">Chinese</option>
        </select>
    </div>
    <div>
        <h3>Page Size:</h3>
        <select th:field="*{pageSize}">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <p>emails per page</p>
    </div>
    <!--  <div>-->
    <!--    <h3>Spams filter:</h3>-->
    <!--&lt;!&ndash;    <input type="checkbox" th:field="*{spamsFilter}"/>Enable spams filter<br/>&ndash;&gt;-->
    <!--  </div>-->
    <div>
        <h3>Spam filter:</h3>
        <input type="checkbox" name="spamsFilter" id="spamsFilter" checked>Enable spam filter
    </div>
    <div>
        <h3>Signature:</h3>
        <textarea th:field="*{signature}"></textarea>
    </div>
    <button type="submit">Save Configuration</button>
</form>
<h2>Language: <span th:text="${config.language}"></span></h2>
<h2>Page Size: <span th:text="${config.pageSize}"></span></h2>
<h2>Spams filter: <span th:text="${config.spamsFilter}"></span></h2>
<h2>Signature: <span th:text="${config.signature}"></span></h2>
</body>
</html>
