* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f7f9fa;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../public/images/banner.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7px;
}

.logo {
    margin-left: 5%;
    width: 100px;
    cursor: pointer;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

.register-btn {
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

.container {
    padding: 0 7%;
}

.header h1 {
    font-size: 7vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 15%;
}

.search-bar {
    background: #fff;
    width: 80%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-bar form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar form input {
    display: block;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 1vw;
}


.search-bar form button {
    background: #ff5361;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}

.search-bar form button img {
    width: 15px;
    margin-top: 7px;
}

.location-input {
    flex: 0.5;
}

.search-bar form label {
    font-weight: 600;
}

/*-----------------exclusives------------*/
.sub-title {
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}

.exclusives {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}

.exclusives div img {
    width: 100%;
    border-radius: 10px;
}

.exclusives div {
    position: relative;
}

.exclusives div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

/*------------------------ Trending ----------------*/
.trending {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.trending div img {
    width: 100%;
    border-radius: 10px;
}

/*-------------- Call to action ----------*/
.cta {
    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent), url(../public/images/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}

.cta h3 {
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}

.cta p {
    font-size: 18px;
    margin: 10px 0;
}

/*---------------------Travellers Strories--------------------*/
.stories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.stories div img {
    width: 100%;
    border-radius: 10px;
}

/*---------------  Listing Page ------------------*/
.nav-white-listing {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.search-bar-listing {
    background: #fff;
    width: 72%;
    margin: 1px 146px;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
    border-bottom: 2px solid gray;
}

.search-bar-listing form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar-listing form input {
    display: block;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 1vw;
}

.search-bar-listing form button {
    background: #ff5361;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}

.search-bar-listing form button img {
    width: 15px;
    margin-top: 7px;
}

/*.location-input{*/
/*    flex: 0.5;*/
/*}*/
.search-bar-listing form label {
    font-weight: 600;
}

.list-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-col {
    flex-basis: 70%;
}

.right-col {
    flex-basis: 25%;
}

.left-col h1 {
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}

.house {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
    background-color: white;
}
.house:hover {
    border: 2px solid #ff5361;
    border-radius: 50px;
    box-shadow: 0 0 5px 2px rgba(255, 83, 97, 100);}

.house-img {
    width: 40%;
    height: 324px;
    margin-left:2%
}

.house-info {
    width: 53%;
    color: #555;
    margin-right: 2%;
}
.house-infoo .svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    font-size: 20px;
    color: #808281;
    margin-right: 10px;
}
.small-details button {
    background-color: #ff5361;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    width: 17%;
    margin-left: 84%;
}
.house-infoo {
    width: 53%;
    color: #555;
    margin-right: 2%;
}

.house-img img {
    width: 362px;
    border-radius: 12px;
    height: 272px;
}

.house-info h3 {
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}
.house-infoo h3 {
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}

.house-price {
    margin-top: 16%;
    text-align: right;
}

.house-price h4 {
    font-size: 30px;
    color : #ff5361;
}
.house-price button{
    background-color: #ff5361;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    width: 30%;

}

.house-price h6 {
    text-decoration: line-through;
}

.house-info i {
    color: #ff5361;
    font-size: 18px;
    margin: 10px;
}
.house-infoo i {
    color: #ff5361;
    font-size: 18px;
    margin: 10px;
}
.house-infoo .house-price {
    margin-top: 0%;
    text-align: right;
}


.sidebar {
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
}

.sidebar h2 {
    font-weight: 500;
}

.sidebar h3 {
    font-weight: 500;
    margin: 20px 0 10px;
}

.filter {
    display: flex;
    color: #555;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: baseline;
}

.filter p {
    flex: 1;
}

.filter input {
    margin-right: 15px;
    cursor: pointer;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.pagination img {
    width: 15px;
    margin: 10px 20px;
}

.right-arrow {
    transform: rotate(180deg);
}

.pagination a {
    margin: 10px 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.pagination .current {
    background: #333;
    color: #fff;
    border-radius: 50px;
}

/*-----------------------------Details ---------------*/
.house-details {
    padding: 0 12%;
}

.house-title {
    margin-top: 50px;
}

.house-title h1 {
    font-weight: 600;
}

.house-title .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.house-title span {
    margin: 0 20px;
}

.house-title i {
    color: #ff5361;
}

.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . .' 'first first . .';
    margin: 20px 0;
}

.gallery div img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.gallery-img-1 {
    grid-area: first;
}

.small-details h2 {
    font-weight: 500;
}

.small-details h4 {
    text-align: right;
    font-size: 30px;
    color: #ff5361;
}
.small-details p {
    text-align: right;
}

.line {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 900px;
    margin: 20px 0 50px;
}

.check-from {
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
}

.check-from label {
    display: block;
}

.check-from div {
    padding: 20px;
}

.check-from input {
    background: transparent;
    border: 0;
    outline: none;
}

.check-from button {
    background: #ff5361;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 350px;
    border-radius: 8px;
    font-size: 16px;
}

.guest-field {
    flex: 0.5;
}

.details-list {
    list-style: none;
    margin: 50px 0;
}

.details-list li {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}

.details-list li span {
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.details-list li i {
    position: absolute;
    top: 5px;
    left: -40px;
}

.home-desc {
    /*max-width: 700px;*/
    margin-bottom: 50px;
}

/*------------------ModalLogin------------------*/
.tablinks {
    background-color: #ff5361;
    float: left;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    width: 50%;
}

.tablinks:hover {
    background-color: #e1616c;
}

.tabcontent {
    padding: 20px;
    margin-top: 2%;
}

.input-container input {
    width: 100%;
}

#Login {
    display: block;
}

.modal {
    .input-container input {
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.input-container {
    margin-bottom: 20px;
    margin-top: 10%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

button {
    background-color: #ff5361;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e1616c;
}

.forgot-password {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    margin-top: 5px;
    display: block;
}

.forgot-password:hover {
    text-decoration: none;
}

a {
    text-decoration: none !important;
}

.DateRangePickerInput__withBorder {
    border: none !important;
}

.location-input-listing {
    flex: 1;
}

.pagination button {
    background: none;
}

#abc {
  position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
    background-color:white ;
    width: 450px;
}
.back-round {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url("https://cdn.pixabay.com/vimeo/395456435/hai-cang-33014.mp4?width=1280&hash=982d60acea0e6b865f22632276e0f67aca34c861") no-repeat center center fixed;
    background-size: cover;
}
video{
    width: 100vw;
    /*object-fit: cover;*/

}
.user-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.user-info span {
    margin-right: 10px;
}
.icon-font{
    font-size: 30px;
}
.logout-btn {
    text-decoration: none;
    color: #5a3ee9d6;
}

/*.background{*/
/*    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(20).webp") no-repeat;*/
/*    background-position: center;*/
/*    background-size:cover ;*/
/*    height: 100vh;*/
/*    width: 100%;*/

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    font-size: 25px;
    color: #ff5361;
    margin-right: 10px;
}
.sidebarr {
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
}

.hotel-cart {
    border: 1px solid #999;
    padding: 20px 30px;
    margin-bottom: 30px;
}

.sidebarr h2 {
    font-weight: 500;
    text-align: center;
}

.sidebarr h3 {
    font-weight: 500;
    margin: 20px 0 10px;
}



.sidebarr hr {
    width: 350px;
}

.cart-hotel p, .cart-hotel h4 {
    display: inline;
}

.cart-hotel {
    margin: 7% 0;
    display: flex;
    justify-content: space-between;
}

.sidebarr button {
    background-color: #ff5361;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 94%;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 4%;
}

.sidebarr button:hover {
    background-color: #e1616c;
}

.date-hotel {
    margin: 7% 0;
    display: flex;
    justify-content: space-between;
}

.date-hotel h5 {
    width: 100px;
}

.hotel-cart hr {
    margin: 5% 0;
    color: #eff0f2;
}

.image-hotel-cart img {
    width: 100px;
    height: 135px;
}
.image-hotel {
    display: flex;
}

.image-hotel-cart,
.image-hotel-cart {
    flex: 0 0 30%;
}

.hotel-info {
    flex: 0 0 70%;
}

.hotel-info .image-hotel-cart {
    display: inline;
}
.form-user input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 1% 2%;
    width: 90%;
}
.form-user {
    border: 1px solid gray;
    border-radius: 11px;
}
.form-user-user {
    padding: 1%;
}
.list-container .left-col {
    flex-basis: 65%;
}

.list-container .right-col {
    flex-basis: 33%;
}
.check-in, .check-out {
    display: inline-block;
    margin: 3% 12%;
    text-align: center;
}
.list-container .house {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
    background-color: white;
}
.list-container .house:hover {
  }

.list-container .house-img {
    width: 40%;
    height: 324px;
    margin-left:2%
}

.list-container .house-info {
    width: 53%;
    color: #555;
    margin-right: 1%;
}
.list-container .house-infoo .svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    font-size: 20px;
    color: #808281;
    margin-right: 10px;
}
.room {
    color: red;
}
.pay-icon {
    color: black;
    font-size: 17px;
}
button.button-pay {
    margin-bottom: 25px;
    justify-content: left;
    margin-left: 77%;
}
.form-user-user label {
    margin-left: 2%;
}
.error {
    color: red;
    margin-left: 4%;
}
.kep-login-facebook{
    padding: 10px!important;
}
.fb-gg-container{
    display: flex;
   justify-content: space-between;
}
.google{
    padding-left:15px!important;
    padding-right:15px!important;
}

