<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<h1 style="text-align: center">User List</h1>
<a th:href="@{/song/create}">
    <button type="button" class="btn btn-outline-primary">Create</button>
</a>
<div th:if="${mess}">
    <div class="alert alert-success">
        <p th:text="${mess}"></p>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên Bài Hát</th>
        <th>Nghệ Sĩ </th>
        <th>Thể Loại</th>
        <th>Update</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${song}">
        <td th:text="${song.id}"></td>
        <td th:text="${song.nameSong}"></td>
        <td th:text="${song.artist}"></td>
        <td th:text="${song.category}"></td>
        <td>
            <a th:href="@{/song/edit/{id}/(id=${song.id})}">
                <button type="button" class="btn btn-outline-danger">Edit</button>
            </a>

        </td>
    </tr>
    </tbody>
</table>
<div align="center">
    <a th:if="${song.hasPrevious()}" th:href="@{/song(page=${song.number-1})}">Trước</a>
    <span th:text="${song.number+1}"></span>/<span th:text="${song.totalPages}"></span>
    <a th:if="${song.hasNext()}" th:href="@{/song(page=${song.number+1})}">Sau</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>
